@model Student
@{
    ViewBag.Title = "Students";
}

<h3> Personal Information</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.StudentId</td>
            <td>@Model.Name</td>
            <td>@Model.Dob</td>
            <td>@Model.Phone</td>
            <td>@Model.Email</td>
            <td>@Model.Address</td>

            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id=@Model.StudentId class="btn btn-info"> Edit </a>
            </td>
        </tr>
    </tbody>
</table>

<h3> Academic Records</h3>



