@model Student
@{
    ViewBag.Title = "Students";
}

<h3> Personal Information</h3>
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.StudentId</td>
            <td>@Model.Name</td>
            <td>@Model.Dob</td>
            <td>@Model.Phone</td>
            <td>@Model.Email</td>
            <td>@Model.Address</td>           
        </tr>
    </tbody>
</table>
<a asp-action="Index" class="btn btn-info"> Back </a>




