@*@model List<Student>*@
@model dynamic
@{
    ViewBag.Title = "Students";
}


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Personal Info</th>
            <th>Major</th>
            <th>Enrollment</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.Students)
        {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>

            <td>
                <a asp-controller="Student" asp-action="Details" asp-route-id="@student.StudentId"> Details </a>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId"> Edit </a>

            </td>
            <td>
                @foreach (var ma in student.Majorings)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Major"
                           asp-route-id="@ma.MajorId">
                            @ma.Major.Title
                        </a>
                    </p>
                }
            </td>
            <td><a asp-controller="Enroll" asp-action="Index" asp-route-id="@student.StudentId" > Details </a></td>
            <td><a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-info"> Delete </a></td>
        </tr>
        }
    </tbody>
</table>
<form asp-action="Add" method="get">
    <button type="submit" class="btn btn-info"> Add Students </button>
</form>




